<app-date-form [ruta]="'/graficos'"></app-date-form>
<mat-form-field class="select-proceso" appearance="fill">
  <mat-label>Tipo de proceso</mat-label>
  <mat-select [(ngModel)]="selectProceso" (ngModelChange)="filtrarProceso()">
    <mat-option>TODOS</mat-option>
    <mat-option
      *ngFor="let tipoProceso of tipoProcesosSelect"
      [value]="tipoProceso.abreviatura"
    >
      {{ tipoProceso.descripcion }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="row">
  <div class="col-8">
    <div class="shadow p-3 m-3 bg-white rounded" id="chart">
      <h2 class="text-center">Cantidad procesos SERCOP</h2>
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
      ></apx-chart>
    </div>
    <div class="shadow p-3 m-3 bg-white rounded" id="chartArea">
      <div *ngIf="selectProceso == undefined; then todos; else proceso"></div>
      <ng-template #todos>
        <h2 class="text-center">Variación de procesos SERCOP</h2>
        <apx-chart
          [series]="chartOptionsArea.series"
          [chart]="chartOptionsArea.chart"
          [xaxis]="chartOptionsArea.xaxis"
          [stroke]="chartOptionsArea.stroke"
          [tooltip]="chartOptionsArea.tooltip"
          [dataLabels]="chartOptionsArea.dataLabels"
        ></apx-chart>
      </ng-template>
      <ng-template #proceso>
        <h2 class="text-center">Variación de proceso {{selectProceso}} SERCOP</h2>
        <div  id="chartAreaProceso">
          <apx-chart
            [series]="chartOptionsAreaProceso.series"
            [chart]="chartOptionsAreaProceso.chart"
            [xaxis]="chartOptionsAreaProceso.xaxis"
            [stroke]="chartOptionsAreaProceso.stroke"
            [tooltip]="chartOptionsAreaProceso.tooltip"
            [dataLabels]="chartOptionsAreaProceso.dataLabels"
          ></apx-chart>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-4">
    <div class="card border-3 overflow-auto">
      <h5 class="card-header text-white bg-dark">
        Descripción de los procesos
      </h5>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let tipoProceso of tipoProcesosVista"
        >
          {{ tipoProceso.abreviatura }}
          <span class="text-secondary">{{ tipoProceso.descripcion }}</span>
        </li>
        <li class="list-group-item">
          Total de procesos: {{ comprasPublicas.length }}
        </li>
      </ul>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded" id="chartPie">
      <h2 class="text-center">Porcentaje procesos SERCOP</h2>
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [responsive]="chartOptionsPie.responsive"
      ></apx-chart>
    </div>
  </div>
</div>
