#chart {
    max-width:100%;
    margin: 35px auto;
}

#chartPie {
  max-width: 100%;
  margin: 35px auto;
  height: auto;
  padding: 0;
}

#chartRadar {
  max-width: 100%;
  height: 100%;
  margin: 35px auto;
}

.grid-graficos{
  display: grid;
  grid-template-columns: 75% 25%;
}

.select-proceso {
  width: 100%;
}

.card{
  max-height: 445px;
}

.list-group-item{
  font-size: 11px;
  padding: 4px;
}

