<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
      <div >
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div >
       <a href="https://app.eeasa.com.ec/intranet"> <mat-icon>logout</mat-icon></a> 
      </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <img class="eeasa-logo" src="assets/Logo-EEASA-9.png" alt="logo eeasa"
        height="40">
        <mat-accordion  mat-list-item  *ngFor="let nav of fillerNav">
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icono">{{nav.icon}}</mat-icon>
                {{nav.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item [routerLink]="navChild.route" *ngFor="let navChild of nav.children">
                <mat-icon class="icono">{{navChild.icon}}</mat-icon>
                {{navChild.name}}
              </a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
