<ng-container *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-header">
    <div></div>
    <div>
      <a href="https://app.eeasa.com.ec/intranet">
        <mat-icon >logout</mat-icon></a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="example-sidenav"
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom"
    >
    <mat-nav-list>
      <img class="eeasa-logo" src="assets/Logo-EEASA-9.png" alt="logo eeasa"
      height="40">
      <mat-accordion  mat-list-item  *ngFor="let nav of fillerNav">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icono">{{nav.icon}}</mat-icon>
              {{nav.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="navChild.route" *ngFor="let navChild of nav.children">
              <mat-icon class="icono">{{navChild.icon}}</mat-icon>
              {{navChild.name}}
            </a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
