<ng-container *ngIf="shouldRun">
  <mat-toolbar  class="example-header">
    <div>
      <button class="text-white" mat-icon-button *ngIf="sidenav.mode == 'over'" (click)="sidenav.toggle()">
        <mat-icon >
            menu
        </mat-icon>
    </button>
    </div>
    <div class="">
      <a class="nav-link d-flex align-items-center" href="https://app.eeasa.com.ec/intranet/#inicio">
        Salir <mat-icon class="mx-2" >logout</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom"
    >
    <mat-nav-list>
      <div class="text-center">
        <img class="eeasa-logo mb-2" src="assets/logotipo.png" alt="logo eeasa"
      height="80" >
      </div>
      <mat-accordion   mat-list-item  *ngFor="let nav of fillerNav">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icono">{{nav.icon}}</mat-icon>
              {{nav.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="navChild.route" *ngFor="let navChild of nav.children">
              <mat-icon class="icono">{{navChild.icon}}</mat-icon>
              {{navChild.name}}
            </a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="overflow-hidden px-2 mb-2" [formGroup]="options">
      <router-outlet  ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
