.reportes-componentes {
    display: flex;
    gap: 20px;
}

.formulario-filtros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.select-proceso {
    width: 100%;
}

.select-departamento {
    width: 100%;
}

.botones {
    display: flex;
    gap: 20px;
}

.btn-excel {
    background-color: green;
    color: white;
}

.btn-height {
    height: 50px;
}

table {
    width: auto;
    margin-bottom: 20px;
    overflow: auto;
}

.card-detail{
    width: 350px;
    height: 350px;
}

table td {
    border: solid 1px #999999;
    width: 100px;
    word-wrap: break-word;
}

.num-cod{
    width: 50px !important;
}

.num-anio{
    width: 50px !important;
}

.oculto{
    display: none;
}

.titulo-detalle{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.tarjeta{
    width: 350px;
    height: 350px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(97, 97, 97);
    border-radius: 2%;
}

.detalle-compra{
    padding-left: 10px;
}

td{
    font-size: 11px;
}

th {
    background: #2472a3;
    color: white;
    border: solid 1px #999999;
    font-size: 11px;
 }

 table tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

.list-group-item{
    font-size: 11px;
    padding: 4px;
}

.no{
    width: 5px;
    background-color: black;
}

.container{
    overflow: scroll;
}