<!--Botones y filtros -->
<div class="container reportes-componentes">
  <!--Botones -->
  <div class="botones">
    <button [disabled]="!(comprasPublicas.length > 0)" (click)="openDialog()" class="btn-height btn-excel"
      mat-raised-button>
      <mat-icon>description</mat-icon>
      Excel
    </button>
    <button [disabled]="!(comprasPublicas.length > 0)" (click)="downloadPdf()" class="btn-height" mat-raised-button
      color="warn">
      <mat-icon>picture_as_pdf</mat-icon>
      PDF
    </button>
  </div>
  <!--Selects -->
  <div class="d-flex align-items-center">
    <div class="formulario-filtros" action="">
      <!--Select Proceso -->
      <mat-form-field class="select-proceso" appearance="fill">
        <mat-label>Tipo de proceso</mat-label>
        <mat-select [(ngModel)]="selectProceso" (ngModelChange)="filtrar()">
          <mat-option>TODOS</mat-option>
          <mat-option *ngFor="let tipoProceso of tipoProcesos" [value]="tipoProceso.abreviatura">
            {{ tipoProceso.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--Select Departamento -->
      <mat-form-field class="select-departamento" appearance="fill">
        <mat-label>Departamentos</mat-label>
        <mat-select [(ngModel)]="selectDepartamento" (ngModelChange)="filtrar()">
          <mat-option>TODOS</mat-option>
          <mat-option *ngFor="let departamento of departamentos" [value]="departamento.descripcion">
            {{ departamento.descripcion }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container mat-elevation-z2 m-12 m-2 oculto">
  <div class="table-container">
    <table mat-table [dataSource]="comprasPublicas" id="tableExporter">
      <!--ÍNDICE -->
      <ng-container matColumnDef="No.">
        <th class="num-cod" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="num-cod" mat-cell *matCellDef="let i=index">
          {{ i+1 }}
        </td>
        <td class="num-cod" mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!--FECHA DE PUBLICACIÓN -->
      <ng-container matColumnDef="INTRP_FECHA_PUBLICACION">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          FECHA DE PUBLICACIÓN
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt }}
        </td>
        <td class="td-valorContratado" mat-footer-cell *matFooterCellDef>
          Valor Total Contratado: {{ total_contratado }}
        </td>
      </ng-container>
      <!--PROCESO DESCRIPCION -->
      <ng-container matColumnDef="INTPRO_DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef>TIPO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intpro_DESCRIPCION }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!--ABREVIATURA DE PROCESO -->
      <ng-container matColumnDef="INTPRO_ABREV">
        <th mat-header-cell *matHeaderCellDef>ABREVIATURA DE PROCESO</th>
        <td mat-cell *matCellDef="let element">{{ element.intpro_ABREV }}</td>
      </ng-container>
      <!--NUMERO PROCESO -->
      <ng-container matColumnDef="INTRP_NUMEROPROCESO">
        <th mat-header-cell *matHeaderCellDef>NUMERO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_NUMEROPROCESO }}
        </td>
      </ng-container>
      <!--CODIGO PROCESO -->
      <ng-container matColumnDef="INTRP_CODIGOPROCESO">
        <th mat-header-cell *matHeaderCellDef>CODIGO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_CODIGOPROCESO }}
        </td>
      </ng-container>
      <!--DETALLE -->
      <ng-container matColumnDef="INTRP_DETALLE">
        <th mat-header-cell *matHeaderCellDef>DETALLE</th>
        <td mat-cell *matCellDef="let element">{{ element.intrp_DETALLE }}</td>
      </ng-container>
      <!--ESTADO -->
      <ng-container matColumnDef="INTRES_DETALLE">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let element">{{ element.intres_DETALLE }}</td>
      </ng-container>
      <!--OFICIO -->
      <ng-container matColumnDef="INTRP_NUMOFICIO">
        <th mat-header-cell *matHeaderCellDef>OFICIO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_NUMOFICIO }}
        </td>
      </ng-container>
      <!--CONTRATISTA -->
      <ng-container matColumnDef="MA_CONT_RAZON_SOCIAL">
        <th mat-header-cell *matHeaderCellDef>CONTRATISTA</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_CONT_RAZON_SOCIAL }}
        </td>
      </ng-container>
      <ng-container matColumnDef="INTDEP_DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef>DEPARTAMENTO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intdep_DESCRIPCION }}
        </td>
      </ng-container>
      <!--AÑO -->
      <ng-container matColumnDef="CONTRAF_NUMERO_CONTRATO">
        <th mat-header-cell *matHeaderCellDef>AÑO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_ANIO }}
        </td>
      </ng-container>
      <!--VALOR CONTRATO -->
      <ng-container matColumnDef="CONTRAF_VALOR_CONTRATO">
        <th mat-header-cell *matHeaderCellDef>VALOR CONTRATADO</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.contraf_VALOR_CONTRATO">$</span>
          {{ element.contraf_VALOR_CONTRATO }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
</div>

<!--Tabla -->
<div class="container mat-elevation-z2 m-12 m-2">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <!--ÍNDICE -->
      <ng-container matColumnDef="No.">
        <th class="num-cod" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="num-cod" mat-cell *matCellDef="let i=index">
          {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
        </td>
        <td class="num-cod" mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!--FECHA DE PUBLICACIÓN -->
      <ng-container matColumnDef="INTRP_FECHA_PUBLICACION">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          FECHA DE PUBLICACIÓN
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt }}
        </td>
        <td class="td-valorContratado" mat-footer-cell *matFooterCellDef>
          Valor Total Contratado: {{ total_contratado }}
        </td>
      </ng-container>
      <!--PROCESO DESCRIPCION -->
      <ng-container matColumnDef="INTPRO_DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef>TIPO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intpro_DESCRIPCION }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!--ABREVIATURA DE PROCESO -->
      <ng-container matColumnDef="INTPRO_ABREV">
        <th mat-header-cell *matHeaderCellDef>ABREVIATURA DE PROCESO</th>
        <td mat-cell *matCellDef="let element">{{ element.intpro_ABREV }}</td>
      </ng-container>
      <!--NUMERO PROCESO -->
      <ng-container matColumnDef="INTRP_NUMEROPROCESO">
        <th mat-header-cell *matHeaderCellDef>NUMERO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_NUMEROPROCESO }}
        </td>
      </ng-container>
      <!--CODIGO PROCESO -->
      <ng-container matColumnDef="INTRP_CODIGOPROCESO">
        <th mat-header-cell *matHeaderCellDef>CODIGO DE PROCESO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_CODIGOPROCESO }}
        </td>
      </ng-container>
      <!--DETALLE -->
      <ng-container matColumnDef="INTRP_DETALLE">
        <th mat-header-cell *matHeaderCellDef>DETALLE</th>
        <td mat-cell *matCellDef="let element">{{ element.intrp_DETALLE }}</td>
      </ng-container>
      <!--ESTADO -->
      <ng-container matColumnDef="INTRES_DETALLE">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let element">{{ element.intres_DETALLE }}</td>
      </ng-container>
      <!--OFICIO -->
      <ng-container matColumnDef="INTRP_NUMOFICIO">
        <th mat-header-cell *matHeaderCellDef>OFICIO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_NUMOFICIO }}
        </td>
      </ng-container>
      <!--CONTRATISTA -->
      <ng-container matColumnDef="MA_CONT_RAZON_SOCIAL">
        <th mat-header-cell *matHeaderCellDef>CONTRATISTA</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_CONT_RAZON_SOCIAL }}
        </td>
      </ng-container>
      <ng-container matColumnDef="INTDEP_DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef>DEPARTAMENTO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intdep_DESCRIPCION }}
        </td>
      </ng-container>
      <!--AÑO -->
      <ng-container matColumnDef="CONTRAF_NUMERO_CONTRATO">
        <th mat-header-cell *matHeaderCellDef>AÑO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.intrp_ANIO }}
        </td>
      </ng-container>
      <!--VALOR CONTRATO -->
      <ng-container matColumnDef="CONTRAF_VALOR_CONTRATO">
        <th mat-header-cell *matHeaderCellDef>VALOR CONTRATADO</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.contraf_VALOR_CONTRATO">$</span>
          {{ element.contraf_VALOR_CONTRATO }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginatorRef [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="detalles" id="detalleExporter">
  <!--Detalle de compra total-->
  <div class="tarjeta">
    <h3 class="titulo-detalle">Procesos totalles</h3>
    <div class="detalle-compra" *ngFor="let detalleTotal of detalleComprasTotal">
      <p>{{ detalleTotal.detalle }}{{ detalleTotal.cantidad }}</p>
    </div>
  </div>

  <!--Detalle de compra CP-->
  <div class="tarjeta">
    <h3 class="titulo-detalle">Procesos compras públicas</h3>
    <div class="detalle-compra" *ngFor="let detalleCA of detalleComprasCA">
      <p>{{ detalleCA.detalle }}{{ detalleCA.cantidad }}</p>
    </div>
  </div>
  <!--Detalle de compra EEASA-->
  <div class="tarjeta">
    <h3 class="titulo-detalle">Proceso EEASA</h3>
    <div class="detalle-compra" *ngFor="let detalleEEASA of detalleComprasEEASA">
      <p>{{ detalleEEASA.detalle }}{{ detalleEEASA.cantidad }}</p>
    </div>
  </div>

</div>