<div class="container m-3 col-auto text-center">
    <form  action="" [formGroup]="formData">
 
        <mat-form-field appearance="outline">
            <mat-label>Destinno</mat-label>
            <input matInput type="email" formControlName="destino"/>
        </mat-form-field><br>

        <mat-form-field appearance="outline">
            <mat-label>Asunto</mat-label>
            <input matInput  formControlName="asunto"/>
        </mat-form-field><br>

        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Message..." formControlName="mensaje" ></textarea>
        </mat-form-field><br>
        
        <button [disabled]="!formData.valid" mat-stroked-button color="accent" (click)="onClickEnviar()" >Enviar </button>
    </form>
</div>
