

.reportes-componentes{
    display: flex;
    gap: 20px;
}

.formulario-filtros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.select-proceso{
    width: 525px;
}
.select-departamento{
    width: 300px;
}

.botones{
    display: flex;
    gap: 20px;
}

.btn-excel{
    background-color: green;
    color: white;
}

.btn-height{
    height: 50px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}